@tailwind base;
@tailwind components;
@tailwind utilities;


/* Elimina el ojo nativo en Microsoft Edge */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Elimina iconos nativos en otros navegadores si aparecieran */
input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}